extends layout

block content
  h1 kaosfield.net

  h2 profile
  a(href="http://gravatar.com/ka000")
    img(src="https://gravatar.com/avatar/884be098693425b409d25aaec5091de8?s=150", alt="Gravatar", width=150, height=150)
  ul
    li name: ka (か)
    li email: 
      img(src="/img/mail.png")
    li birthday: 1986-11-21

  h2 personal links
  ul
    li Gravatar: 
      a(href="http://gravatar.com/ka000") ka000
    li GitHub: 
      a(href="https://github.com/kaosf") kaosf
    li Bitbucket: 
      a(href="https://bitbucket.org/kaosf") kaosf
    li Twitter: 
      a(href="https://twitter.com/ka_") @ka_
      ul
        li
          a(href="http://twilog.org/ka_") Twilog
        li
          a(href="http://twitpic.com/photos/ka_") Twitpic
        li
          a(href="http://favstar.fm/users/ka_/recent") Favstar
    li Qiita: 
      a(href="http://qiita.com/users/ka_") ka_
    li coderwall: 
      a(href="https://coderwall.com/ka") ka
    li Tumblr: 
      a(href="http://kaosf.tumblr.com/") kaosf
    li Facebook: 
      a(href="http://www.facebook.com/profile.php?id=100001727621039") Kasu Unko
    li Google+: 
      a(href="https://plus.google.com/u/0/112376057736762975129/about") Kasu Unko
    li
      a(href="http://www.orkut.com/Main#Profile?uid=11721394279592984988") orkut
    li Hatena::Diary: 
      a(href="http://d.hatena.ne.jp/kaosf/") kaosf
    li
      a(href="http://sns.jubeat.info/?m=pc&a=page_f_home&target_c_member_id=677") jubeat SNS
    li
      a(href="http://mixi.jp/show_friend.pl?id=347551") mixi
    li
      a(href="https://www.amazon.co.jp/gp/wishlist/306YK6EEUT2U") wish list (Amazon)

  h2 contents
  ul
    li
      a(href="/log") Old Diary Log - 旧日記ログ (HTML written manually - HTML 直書き, SeleneBach)
    li
      a(href="/tgk/index.html") Tougenkyou - やり込みサイト桃源郷コンテンツ (更新停止)
    li
      a(href="http://experiment.kaosfield.net") Experimental Apps - 実験アプリとか置き場

  footer
    p
      | This site is powered by 
      a(href="http://clojure.org") Clojure
      | , 
      a(href="http://leiningen.org") Leiningen
      | , 
      a(href="https://github.com/ring-clojure") Ring
      |  and 
      a(href="https://www.heroku.com") Heroku
      | .
    p
      | Source code is 
      a(href="https://github.com/kaosf/homepage-powered-by-ring") here
      | .
