body {
  padding: 0 20px;
}
img.icon {
  border-radius: 15px;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #303742;
    color: #b7b7b7;
  }
  a {
    color: #7775f9;
  }
  a:visited {
    color: #a7a6fb;
  }
}
