body{
  background-color:#cceeff;
  font-size:16px
}
td.menu{
  font-size:13px;
  layout-grid-line:4px;
  background-color:#f0f0f0;
}
td.n { font-size:13px; layout-grid-line:10px } /* n : normal */
td.d { font-size:13px }                        /* d : diary */
table.introduce	{ font-size:13px; layout-grid-line:10px }
table.link	{ font-size:13px }
font.main_title	{ font-size:40px; font-weight:bold; color:#000066; }
font.t1	{ font-size:16px; font-weight:bold; color:#000088; }
font.t2	{ font-size:13px; font-weight:bold; color:#0000aa; }
a:link { color:#000088; }
a:visited { color:#0000ff; }

/* 以下日記部分 */
font.red { font-size:15px; font-weight:bold; color:#ff0000 }
font.fuse { font-size:15px; color:#deefff }
div.date{
  width:720px;
  border-style:solid;
  border-color:#aaaaff;
  border-width:2px 2px 0px 2px;
  font-size:15px;
  background-color:#cdcdff;
  font-weight:bold;
  padding: 3px 3px 3px 10px;
  margin-top:26px;
}
div.diary{
  width:720px;
  border-style:solid;
  border-color:#aaaaff;
  border-width:2px 2px 2px 2px;
  font-size:15px;
  background-color:#deefff;
  padding:10px;
  layout-grid-line:13px;
  margin-bottom:26px;
}
/* 日記ここまで */
