p	{font-size:13px; layout-grid-line:4px;}
p.hidden{font-size:13px; layout-grid-line:4px; color:#ffffff;}
h1	{font-size:16px;}
h1.main	{font-size:24px; font-weight:bold}
table.select{font-size:13px;}
table.menu{font-size:13px;}
td.up{background-color:#ddddff;}
td.down{background-color:#ffdddd}

font.blue{font-weight:bold; color:#0000ff;}
font.red{font-weight:bold; color:#ff0000;}
	