<STYLE TYPE="text/css">
<!--
	body{
		background-color:#cceeff;
		font-size:16px
	}
	div.menu{
		font-size:13px;
		layout-grid-line:4px;
		background-color:#f0f0f0;
		text-align:left;
		padding:6px;
		margin:6px;
	}
	td.n	{font-size:13px; layout-grid-line:6px}
	td.d	{font-size:13px}
	<!-- n:normal ; d:diary -->
	table.introduce	{font-size:13px; layout-grid-line:10px}
	table.link	{font-size:13px}
	font.main_title	{font-size:40px; font-weight:bold; color:#000066}
	font.t1	{font-size:16px; font-weight:bold; color:#000088}
	font.t2	{font-size:13px; font-weight:bold; color:#0000aa}
	a	{}
-->
</STYLE>