body {
  background-color:#f8f0d8
}
/* 日記ログのトップ */
h1.diary_log_top_title {
  font-size: 100%;
  color: #202080;
  margin-left: 10px;
}
/* 日記ログのトップ */
div.logtop {
  font-size: 100%;
  background-color: #fff8e8;
  margin: 20px;
  padding: 20px;
  layout-grid-line: 6px
}
/* ファイル初頭の月表記 */
h1.diary_month {
  font-size: 200%;
  color: #202080;
  margin-left: 10px;
}
/* 1 日分の日記 */
div.diary {
  background-color: #fff8e8;
  padding: 0px 0px 10px 0px;
  margin: 0px 15px 30px 15px;
}
/* 日付ヘッダ */
h2.diary_date_header {
  font-size: 140%;
  color: #505000;
  background-color: #e8e0a0;
  padding: 7px 0px 4px 10px;
}
/* エントリのタイトル */
h2.diary_title {
  font-size: 100%;
  /* margin: 0px 0px 0px 0px; */
  margin: 10px;
  border-left: 10px #808080 solid;
  border-bottom: 1px #808080 solid;
  padding: 5px 0px 4px 10px;
}
/* エントリ本体 */
div.diary_body {
  background-color: #fff8e8;
  margin: 10px;
  padding: 10px;
}
/* 本文 */
p.diary{
  font-size: 100%;
  line-height: 140%;
  background-color: #fff8e8;
  margin: 20px 20px 20px 20px;
}
/* コメント */
h3.diary_comment_header {
  font-size: 90%;
  margin-left: 25px;
}
div.diary_comment {
  margin-left: 30px;
}
h3.diary_comment_author {
  font-size: 95%;
  margin-left: 5px;
}
div.diary_comment_body {
  font-size: 95%;
  margin-left: 5px;
}
/* web拍手 */
font.clap {
  color: #005090;
}
font.fuse {
  color: #fff8e8;
}
/* リスト */
ul.diary {
  font-size: 100%;
  background-color: #fff8e8;
  margin: 13px 50px 16px 80px;
}
/*** 画像関連 ***/
img.diary {
  width: 320px;
  height: 240px;
  border: 0px;
}
img.diary_tate {
  width: 240px;
  height: 320px;
  border: 0px;
}
/* s:small */
img.diary_s {
  width: 200px;
  height: 150px;
  border: 0px;
}
img.diary_s_tate {
  width: 150px;
  height: 200px;
  border: 0px;
}
/*** aタグ関連 ***/
a.diary {
  color: #0000f0;
  text-decoration: underline;
}
a:hover.diary {
  color: #0000e0;
  background-color: #ffff40;
  text-decoration: underline;
}
