extends ../../layout

block content
  h1 Old Diary Log
  h2 2005
  p
    | 01 
    | 02 
    | 03 
    | 04 
    | 05 
    | 06 
    | 07 
    a(href="/log/200508.html") 08
    | 
    a(href="/log/200509.html") 09
    | 
    a(href="/log/200510.html") 10
    | 
    a(href="/log/200511.html") 11
    | 
    a(href="/log/200512.html") 12
    | 
  h2 2006
  p
    | 01 
    | 02 
    a(href="/log/200603.html") 03
    | 
    a(href="/log/200604.html") 04
    | 
    a(href="/log/200605.html") 05
    | 
    a(href="/log/200606.html") 06
    | 
    a(href="/log/200607.html") 07
    | 
    a(href="/log/200608.html") 08
    | 
    a(href="/log/200609.html") 09
    | 
    a(href="/log/200610.html") 10
    | 
    a(href="/log/200611.html") 11
    | 
    a(href="/log/200612.html") 12
    | 
  h2 2007
  p
    a(href="/log/200701.html") 01
    | 
    a(href="/log/200702.html") 02
    | 
    a(href="/log/200703.html") 03
    | 
    a(href="/log/200704.html") 04
    | 
    a(href="/log/200705.html") 05
    | 
    a(href="/log/200706.html") 06
    | 
    a(href="/log/200707.html") 07
    | 
    a(href="/log/200708.html") 08
    | 
    a(href="/log/200709.html") 09
    | 
    a(href="/log/200710.html") 10
    | 
    a(href="/log/200711.html") 11
    | 
    a(href="/log/200712.html") 12
    | 
  h2 2008
  p
    a(href="/log/200801.html") 01
    | 
    a(href="/log/200802.html") 02
    | 
    a(href="/log/200803.html") 03
    | 
    a(href="/log/200804.html") 04
    | 
    a(href="/log/200805.html") 05
    | 
    a(href="/log/200806.html") 06
    | 
    a(href="/log/200807.html") 07
    | 
    a(href="/log/200808.html") 08
    | 
    a(href="/log/200809.html") 09
    | 
    a(href="/log/200810.html") 10
    | 
    a(href="/log/200811.html") 11
    | 
    a(href="/log/200812.html") 12
    | 
  h2 2009
  p
    a(href="/log/200901.html") 01
    | 
    a(href="/log/200902.html") 02
    | 
    a(href="/log/200903.html") 03
    | 
    a(href="/log/200904.html") 04
    | 
    a(href="/log/200905.html") 05
    | 
    a(href="/log/200906.html") 06
    | 
    a(href="/log/200907.html") 07
    | 
    a(href="/log/200908.html") 08
    | 
    a(href="/log/200909.html") 09
    | 
    a(href="/log/200910.html") 10
    | 
    a(href="/log/200911.html") 11
    | 
    a(href="/log/200912.html") 12
