extends _layout

block content
  h1 External Services

  ul
    li
      a(href="mailto:ka.kaosf@gmail.com") Gmail
    li
      a(href="https://en.gravatar.com/ka000") Gravatar
    li
      a(href="https://gist.github.com/kaosf") GitHub Gist
    li
      a(href="https://coinos.io/ka") CoinOS
    li
      a(href="https://opensea.io/kaosf") OpenSea

  h2 AT Protocol
  dl
    dt DID
    dd https://www.kaosfield.net/.well-known/atproto-did
  ul
    li
      a(href="https://bsky.app/profile/www.kaosfield.net") Bluesky: www.kaosfield.net

  h2 ActivityPub

  h3 Mastodon

  ul
    li
      a(href="https://mstdn.jp/@ka_") mstdn.jp: ka_@mstdn.jp
    li
      a(href="https://precure.ml/@ka") precure.ml: ka@precure.ml
    li
      a(href="https://kirakiratter.com/@ka") kirakiratter.com: ka@kirakiratter.com

  h3 Misskey

  ul
    li
      a(href="https://misskey.io/@ka__") misskey.io: @ka__@misskey.io
    li
      a(href="https://misskey.cloud/@ka") misskey.cloud:  @ka@misskey.cloud
    li
      a(href="https://rhythmisskey.games/@ka") rhythmisskey:  @ka@rhythmisskey.games

  h2 SNS

  ul
    li
      a(href="http://kaosf.tumblr.com/") Tumblr
    li
      a(href="https://mixi.social/@ka__") mixi2
    li
      a(href="https://mixi.jp/show_profile.pl?id=347551") mixi
    li
      a(href="https://www.facebook.com/kasu.unko.3") Facebook

  h2 Tech

  ul
    li
      a(href="https://qiita.com/ka_") Qiita
    li
      a(href="https://kaosf.hatenablog.com/") Hatena Blog
    li
      a(href="https://bitbucket.org/kaosf") Bitbucket
