extends ../layout

block content
  h1 kaosfield

  h2 profile
  a(href="icon.webp")
    img.icon(src="icon.webp", alt="icon", width=150, height=150)
  dl
    dt name
    dd ka (か)
    dt email
    dd ka.kaosf@gmail.com
    dt birthday
    dd 1986-11-21

  h2 nostr
  dl
    dt nostr.json for NIP-05
    dd
      a(href="/.well-known/nostr.json") /.well-known/nostr.json
    dt hex
    dd(onclick="this.innerHTML='a6f1f450080b65ba75da8ac7328f91c94f8314b2cc4aa719c516852a29388f0b';this.onclick=null") a6f1f45...9388f0b (tap to extend)
    dt npub
    dd(onclick="this.innerHTML='npub15mclg5qgpdjm5aw63trn9ru3e98cx99je392wxw9z6zj52fc3u9s32dfza';this.onclick=null") npub15mclg5q...s32dfza (tap to extend)

  h2 personal links
  ul
    li Gravatar: 
      a(href="https://en.gravatar.com/ka000") ka000
    li GitHub:
      ul
        li
          a(href="https://github.com/kaosf") kaosf
        li
          a(href="https://gist.github.com/kaosf") Gist
    li Nostr:
      ul
        li
          a(href="https://nostter.vercel.app/ka@kaosfield.net") nostter
        li
          a(href="https://nostr.com/npub15mclg5qgpdjm5aw63trn9ru3e98cx99je392wxw9z6zj52fc3u9s32dfza") nostr.com
        li
          a(href="https://nostr.directory/p/ka_") nostr.directory
    li Nostr (ZBD sub):
      ul
        li
          a(href="https://zbd.gg/kaosf") ZBD
        li
          span(onclick="this.innerHTML='npub1s0egvs6mp4uhp8qh2dwlw7p22s6sne22ndlsul5rch540e60svws9408x8';this.onclick=null") npub1s0egvs6...s9408x8 (tap to extend)
    li Bluesky: 
      a(href="https://bsky.app/profile/kaosfield.net") kaosfield.net
    li Alby: 
      a(href="https://getalby.com/p/kaosf") kaosf@getalby.com
    li ActivityPub:
      ul
        li Mastodon:
          ul
            li mstdn.jp: 
              a(href="https://mstdn.jp/@ka_") ka_@mstdn.jp
            li precure.ml: 
              a(href="https://precure.ml/@ka") ka@precure.ml
            li kirakiratter.com: 
              a(href="https://kirakiratter.com/@ka") ka@kirakiratter.com
        li Misskey:
          ul
            li misskey.io: 
              a(href="https://misskey.io/@ka__") @ka__@misskey.io
            li misskey.cloud: 
              a(href="https://misskey.cloud/@ka") @ka@misskey.cloud
            li rhythmisskey: 
              a(href="https://rhythmisskey.games/@ka") @ka@rhythmisskey.games
    li OpenSea: 
      a(href="https://opensea.io/kaosf") kaosf
    li X:
      ul
        li
          a(href="https://twitter.com/ka_") ka_
        li
          a(href="https://twilog.togetter.com/ka_") Twilog
    li Tumblr: 
      a(href="http://kaosf.tumblr.com/") kaosf
    li Qiita: 
      a(href="https://qiita.com/ka_") ka_
    li
      a(href="https://www.facebook.com/kasu.unko.3") Facebook
    li Hatena Blog: 
      a(href="https://kaosf.hatenablog.com/") kaosf
    li
      a(href="https://mixi.jp/show_profile.pl?id=347551") mixi
    li
      a(href="https://www.amazon.co.jp/gp/wishlist/306YK6EEUT2U") wish list (Amazon)
    li Bitbucket: 
      a(href="https://bitbucket.org/kaosf") kaosf

  h2 contents
  ul
    li
      a(href="/log") Old Diary Log - 旧日記ログ (HTML written manually - HTML 直書き, SeleneBach)
    li
      a(href="/tgk/index.html") Tougenkyou - やり込みサイト桃源郷コンテンツ (更新停止)

  footer
    p
      | Source code is 
      a(href="https://github.com/kaosf/kaosfield") here
      | .
    h3 License
    p
      a(href="https://creativecommons.org/licenses/by-nc-sa/4.0/") CC BY-NC-SA 4.0
    p Copyright (C) 2001-2024 ka
