extends ../layout

block content
  h1 kaosfield

  h2 profile
  a(href="https://en.gravatar.com/ka000")
    img.icon(src="https://en.gravatar.com/avatar/884be098693425b409d25aaec5091de8?s=150", alt="Gravatar", width=150, height=150)
  ul
    li name: ka (か)
    li email: ka.kaosf@gmail.com
    li birthday: 1986-11-21

  h2 personal links
  ul
    li Gravatar: 
      a(href="https://en.gravatar.com/ka000") ka000
    li GitHub:
      ul
        li
          a(href="https://github.com/kaosf") kaosf
        li 
          a(href="https://gist.github.com/kaosf") Gist
    li Nostr Snort: 
      a(href="https://snort.social/p/npub15mclg5qgpdjm5aw63trn9ru3e98cx99je392wxw9z6zj52fc3u9s32dfza") ka
    li Twitter:
      ul
        li
          a(href="https://twitter.com/ka_") ka_
        li
          a(href="https://twilog.org/ka_") Twilog
    li Tumblr: 
      a(href="http://kaosf.tumblr.com/") kaosf
    li Qiita: 
      a(href="https://qiita.com/ka_") ka_
    li
      a(href="https://www.facebook.com/kasu.unko.3") Facebook
    li Hatena Blog: 
      a(href="https://kaosf.hatenablog.com/") kaosf
    li
      a(href="https://mixi.jp/show_profile.pl?id=347551") mixi
    li
      a(href="https://www.amazon.co.jp/gp/wishlist/306YK6EEUT2U") wish list (Amazon)
    li Bitbucket: 
      a(href="https://bitbucket.org/kaosf") kaosf

  h2 contents
  ul
    li
      a(href="/log") Old Diary Log - 旧日記ログ (HTML written manually - HTML 直書き, SeleneBach)
    li
      a(href="/tgk/index.html") Tougenkyou - やり込みサイト桃源郷コンテンツ (更新停止)
    li
      a(href="https://ka-exp-apps.herokuapp.com") Experimental Apps - 実験アプリとか置き場

  footer
    p
      | Source code is 
      a(href="https://github.com/kaosf/kaosfield") here
      | .
    h3 License
    p
      a(href="https://creativecommons.org/licenses/by-nc-sa/4.0/") CC BY-NC-SA 4.0
    p Copyright (C) 2001-2023 ka
